<div class="fixed-top" style="background-color: white;">
    <div class=" container-fluid">
      <header class=" navbar navbar-light container">
        <img src="images/logo.png" alt="logo" class="" width="10%">
        <form>
          <input type="search" class="form-control rounded" aria-label="Search" style="width: 600px;"
            placeholder="Tìm kiếm nước hoa nữ, nước hoa nam, mỹ phẩm...">
        </form>
        <button class="btn rounded my-4 font-weight-bold"
                      style="background-color: #881f88;color: white;"><a href="#ShoppingCart" class="text-decoration-none text-light"> GIỎ
                      HÀNG/ 1.750.000đ </a></button>
      </header>
    </div>
    <nav class="navbar navbar-expand-sm navbar-dark container-fluid" style="background-color: #862786;">
      <!-- Links -->
      <ul class="navbar-nav small font-weight-bolder container">
        <!-- Dropdown1 -->

        <li class="nav-item dropdown ">
          <a class="nav-link dropdown-toggle active" href="#" id="navbardrop" data-toggle="dropdown">
            ☰ QUẢN LÝ SẢN PHẨM
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#nu"><img src="images/icon_nu.png" alt="" align="left" width="7%">&emsp;Nước Hoa Charme nữ</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#nam"><img src="images/icon_nam.png" alt="" align="left" width="7%">&emsp;Nước Hoa Charme nam</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#kid"><img src="images/icon_kid.png" alt="" align="left" width="7%">&emsp;Nước Hoa Trẻ Em Good Charme</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#Car"><img src="images/icon_car.png" alt="" align="left" width="7%">&emsp;Nước Hoa Xe Hơi</a>
        </div>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#home">TRANG CHỦ</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#CuaHang">CỬA HÀNG</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#GioiThieu">GIỚI THIỆU</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#LienHe">LIÊN HỆ</a>
        </li>
        <!-- Dropdown2 -->
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" href="#TinTuc" id="navbardrop" data-toggle="dropdown">
            TIN TỨC
          </a>
          <!-- <div class="dropdown-menu">
            <a class="dropdown-item" href="https://charmevietnam.com/page/Tuyen-dai-ly"> TUYỂN ĐẠI LÝ</a>

          </div> -->
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#GoodCharme">CATALOGUE GOOD CHARME MỚI NHẤT</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#login">ĐĂNG NHẬP / ĐĂNG KÝ</a>
        </li>
      </ul>
    </nav>
  </div>
  <br><br><br><br><br><br>